.userDash{
background-color: lightgray;
float: left;
border: 2px solid black;
max-width: 20em;
margin-left: 3em;
/* margin-bottom: 8em; */
}
.headshot{
    width: 6em;
    border-radius: 50%;
}
.list-hover:hover{
    background-color: rgba(211, 211, 211, 0.16);
}
.userDash-card{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    background-color: lightgray;
    border: none;
}
.dash-content{
}