.App {
  text-align: center;
}
*{
  /* color: lightblue; */
}
.testing-flex{
  display: flex;
}
.navbar>.container{
  display: flex;
  justify-content: center;
}


.Centered{
  display: flex;
  justify-content: center;
}
img{
  border-radius: 50%;
}
.card-title,h5{
  text-align: center;
}


